:root {
  --layout: 12;
}

.sidebar {
  --column: 3;
  width: calc(100% * var(--column) / var(--layout));
  transition: width 200ms;
}

.sidebar-mini {
  width: 70px;
  transition: width 350ms;
}

.sidebar-mini i {
  margin: 0 !important;
}

.content {
  flex-grow: 1;
  padding: 15px;
}
